<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="es" class="h-full">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{% block title %}Kore Line{% endblock %}</title>


{% include 'partials/_head_assets.html' %}


<!-- Bloque para meter CSS extra por vista (p. ej. charts, libs) -->
{% block head_extra %}{% endblock %}
</head>
<body class="kore-body min-h-screen bg-gray-50 text-gray-900">
<!-- Contenedor general con barra superior y contenido -->
<div class="kore-shell flex min-h-screen flex-col">
{% include 'partials/_navbar.html' %}


<div class="flex flex-1 items-start gap-0">
{% include 'partials/_sidebar.html' %}

<main id="content" class="kore-main min-w-0 flex-1 pt-3 pb-4">
{% include 'partials/_flash.html' %}
{% block content %}{% endblock %}
</main>
</div>


{% include 'partials/_footer.html' %}
</div>


<!-- Scripts globales -->
<script src="{% static 'js/dropdown.js' %}"></script>
{% block scripts %}{% endblock %}
</body>
</html>
